body {
    color: white;
    background-color: rgb(27,31,36);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.4;
}

main {
    display: flex;
    padding: 15px;
    height: 84vh;
}

a {
    text-decoration: none;
}

button {
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    border-radius: 5px;
    border-color: rgb(246,217,87);
}

button:hover {
    background-color: rgb(246,217,87);
    cursor: pointer;
}

/* Navbar Styling */
#navbar {
    display: flex;
    height: 10vh;
    align-items: center;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: rgb(246,217,87);
}

#navbar-heading {
    padding-left: 20px;
    flex-grow: 1;
}

#navbar-links {
    padding-right: 20px;
}

#navbar-links > a {
    padding: 10px;
    color: white;
}

.navbar-link:hover {
    color: rgb(246,217,87);
}

.page-heading-accent {
    color: rgb(246,217,87);
}

/* Contact Styling */
#contact-me {
    padding-top: 10px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personal-photo {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

.social-link {
    height: 75px;
    width: auto;
    padding: 10px;
}

#contact-download-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main Content Styling */
#main-content {
    width: 60vw;
    overflow: scroll;
    height: 84vh;
}

.portfolio-section > h3 {
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left-color: rgb(246,217,87);
    padding-left: 5px;
}

.section-content-description {
    margin: 0;
}

/* Project Section Styling */
#section-projects > .portfolio-children, #section-upcoming-projects > .portfolio-children {
    display: flex;
    justify-content: space-around;
}

.project {
    margin: 5px;
    display: flex;
}

.project-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.project-name {
    margin-top: 0;
    align-items: center;
}

.icon-img {
    width: 30px;
    height: auto;
    padding-right: 20px;
}

.active-project {
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: rgb(246,217,87);
}

.project-image {
    width: auto;
    height: 15vh;
    flex-grow: 1;
}

.project-buttons {
    display: flex;
    justify-content: center;
}

/* Skills Section Styling */
#skill-carousel {
    display: flex;
    max-width: 800px;
    overflow: hidden;
}

.skill-list {
    display: flex;
    will-change: transform;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#content-skills {
    display: none;
}

.skill-display {
    padding: 0 20px;
}

.skill-logo {
    height: 80px;
    width: auto;
}


/* Footer Styling */
#footer {
    height: 5vh;
    border-style: solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top-color: rgb(246,217,87);
    display: none;
}

@media only screen and (min-width: 599px) {
    .mobile-overview {
        display: none;
    }
}

/* Mobile screen size styling */
@media only screen and (max-width: 600px) {  
    /* Navbar styling */
    #navbar {
        flex-direction: column;
        width: 98vw;
    }
    #navbar-links {
        display: none;
    }

    /* Main content styling */

    /* Person section */
    main {
        flex-direction: column;
        width: 100vw;
        height: 87vh;
        padding: 0;
    }
    #contact-me {
        width: 96vw;
        padding: 2vw;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    #greeting {
        width: 100%;
    }
    #greeting > h1 {
        margin-top: 0;
        text-align: center;
    }
    #personal-photo {
        width: 40vw;
        height: 40vw;
    }

    /* Content section */
    #main-content {
        width: 96vw;
        padding: 2vw;
    }

    /* Projects */
    #section-projects > .portfolio-children, #section-upcoming-projects > .portfolio-children {
        flex-direction: column;
    }
    .project-name {
        margin-bottom: 0;
        padding-bottom: 5px;
    }
    .project-buttons {
        justify-content: flex-start;
    }
    .mobile-overview {  
        border-style: solid;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-top-color: rgb(246,217,87);
    }
    .project-image-mobile {
        width: 90vw;
        height: auto;
        padding-top: 5px;
    }

    .active-project {
        border-bottom: none;
    }
    .project-image, #project-overviews, #upcoming-project-overviews {
        display: none;
    }
}